@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* definir colores */

:root {
  --color-primary: #0f162a;
  --color-secondary: #5de2e6;
}

.primary-color {
  color: var(--color-primary);
}

.secondary-color {
  color: var(--color-secondary);
}

.logo {
  width: 50px;
  height: 50px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

/* slider brand */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  /*   background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  /*   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  padding-left: 20px;
}

.swiper-scrollbar {
  margin-top: 40px;
}

/* buttons swiper */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

#animation-carousel {
  width: 100%;
}

/* stock buttons */

@keyframes blink {
  0%,
  100% {
    opacity: 2;
  }
  50% {
    opacity: 0.3;
  }
}

.available-icon {
  color: limegreen;
  animation: blink 1.5s infinite ease-in-out;
}

.sold-icon {
  color: red;
  animation: blink 1.5s infinite ease-in-out;
}
